@font-face {
    font-family: 'Stanley';
    src: url('StanleyRegular.woff2') format('woff2'),
        url('StanleyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

